---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Guideline from "../components/Guideline.astro";
import * as pageTitle from "../content/guidelines/design/page-title.mdx";
import * as heading from "../content/guidelines/design/heading.mdx";
---

<DefaultLayout title="デザイン–コンテンツ">
	<h1>デザイン–コンテンツ</h1>

	<h2>レベル1 必ず達成</h2>

	<div class="guidelines">
		<Guideline guideline={pageTitle} />
		<Guideline guideline={heading} />
	</div>
</DefaultLayout>

<style>
	.guidelines > :global(* + *) {
		margin-top: 1.25rem;
	}
</style>
