---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Guideline from "../components/Guideline.astro";
import Guidelines from "../components/Guidelines.astro";
import PageTitle from "../components/PageTitle.astro";
import Pagination from "../components/Pagination.astro";

// レベル1

// レベル2

// レベル3

---

<DefaultLayout title="実装–フォーム">
  <PageTitle>
    <span slot="sub">実装</span>
    フォーム
  </PageTitle>
  <p>
    フォームの実装に関するガイドラインです。
  </p>

  <Guidelines level={1}></Guidelines>

  <Guidelines level={2}></Guidelines>

  <Guidelines level={3}></Guidelines>

  <Pagination current={Astro.url.href} />
</DefaultLayout>
