---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Guideline from "../components/Guideline.astro";
import Guidelines from "../components/Guidelines.astro";
import Pagination from "../components/Pagination.astro";
import * as alternativeText from "../content/guidelines/impl/alternative-text.mdx";
---

<DefaultLayout title="実装–マークアップ">
  <h1>実装–マークアップ</h1>
  <p>マークアップとスタイリングの実装に関するガイドラインです。</p>

  <Guidelines level={1}>
    <Guideline guideline={alternativeText} />
  </Guidelines>

  <Pagination current={Astro.url.href} />
</DefaultLayout>
