<div class="example">
  <div class="image">
    <slot name="image" />
  </div>
  {
    Astro.slots.has("paragraph") && (
      <div class="paragraph">
        <slot name="paragraph" />
      </div>
    )
  }
</div>

<style>
  .example {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, auto));
    grid-gap: 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--color-shade);
    padding: 1.5rem;
  }
  
  .image :global(img) {
    display: block;
  }
  
  .image :global(p) {
    margin-block: 0 !important;
  }
  
  .paragraph :global(p:first-child) {
    margin-top: 0;
  }
</style>
