<h1>
  {
    Astro.slots.has("sub") && (
      <span class="sub">
        <slot name="sub" />
      </span>
    )
  }
  <slot />
</h1>

<style>
  h1 {
    margin-block: 0;
    border: 24px solid;
    border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="56" height="56"><symbol id="L" viewBox="0 0 22 28"><path d="M.5 0h5.6c.29 0 .52.23.52.5v20.12c0 .42.34.76.76.76h13.5c.27 0 .5.23.5.51v5.6a.5.5 0 0 1-.5.51H2.03A2.04 2.04 0 0 1 0 25.96V.51C0 .23.23 0 .5 0Z" fill="%23ED6103"/></symbol><use xlink:href="%23L" y="28" width="22" height="28"/><use xlink:href="%23L" y="-28" width="22" height="28" transform="rotate(90)"/><use xlink:href="%23L" x="56" y="-28" width="22" height="28" transform="rotate(180 56 0)"/><use xlink:href="%23L" x="56" y="28" width="22" height="28" transform="rotate(-90 56 56)"/></svg>')
      28;
    color: var(--color-primary);
    text-align: center;
    font-size: 1.75rem;
    line-height: 1.4;
  }

  .sub {
    display: block;
    font-size: 1.125rem;
  }

  @media (min-width: 768px) {
    h1 {
      border-width: 28px;
      font-size: 2.5rem;
    }

    .sub {
      font-size: 1.5rem;
    }
  }
</style>
