<div class="prose">
  <slot />
</div>

<style is:global>
  .prose h2 {
    margin-top: calc(3.5rem - 1.5rem * 0.2 - 1rem * 0.3);
    margin-bottom: calc(1.25rem - 1.5rem * 0.2 - 1rem * 0.3);
    color: var(--color-primary);
    font-size: 1.5rem;
    line-height: 1.4;
    letter-spacing: 0.08em;
    font-feature-settings: "palt";
  }

  .prose h3 {
    margin-top: calc(3rem - 1.25rem * 0.2 - 1rem * 0.3);
    margin-bottom: calc(1.25rem - 1.25rem * 0.2 - 1rem * 0.3);
    display: flex;
    align-items: start;
    font-size: 1.25rem;
    line-height: 1.4;
    letter-spacing: 0.05em;
    font-feature-settings: "palt";
  }
  .prose h3::before {
    margin-top: 0.1em;
    margin-right: 0.4em;
    flex-shrink: 0;
    border-radius: 0.15em;
    width: 0.3em;
    height: 1.2em;
    background-color: var(--color-primary);
    content: "";
  }

  .prose h4 {
    margin-top: calc(2.5rem - 1.125rem * 0.2 - 1rem * 0.3);
    margin-bottom: calc(1.25rem - 1.125rem * 0.2 - 1rem * 0.3);
    font-size: 1.125rem;
    line-height: 1.4;
  }

  .prose h5 {
    margin-top: calc(2rem - 1.125rem * 0.2 - 1rem * 0.3);
    margin-bottom: calc(1.25rem - 1.125rem * 0.2 - 1rem * 0.3);
    font-size: 1.125rem;
    line-height: 1.4;
  }

  .prose p {
    margin-block: calc(1.25rem - 1rem * 0.6);
  }

  .prose ul,
  .prose ol {
    padding-left: 1.25rem;
  }

  .prose li {
    margin-block: calc(1.25rem - 1rem * 0.6);
  }
  .prose ul > li {
    list-style-type: none;
  }
  .prose ul > li::before {
    float: left;
    margin-top: 0.6125em;
    margin-right: 0.5625em;
    margin-left: -0.9375em;
    width: 0.375em;
    height: 0.375em;
    border-radius: 50%;
    background-color: currentColor;
    content: "";
  }

  .prose pre {
    margin-block: calc(1.25rem - 1rem * 0.3);
    border-radius: 0.25rem;
    border: 1px solid var(--color-border);
    padding: 1rem;
    line-height: 1.4;
  }

  .prose a:link {
    color: currentColor;
    text-underline-offset: 0.15em;
  }
  .prose a:visited {
    color: var(--color-dimmed);
  }
  .prose a:hover {
    color: var(--color-primary);
  }

  .prose code {
    border-radius: 0.25rem;
    border: 1px solid var(--color-border);
    background-color: var(--color-shade);
    padding-inline: 0.25rem;
    font-family: Consolas, Menlo, monospace;
    tab-size: 2;
  }
  .prose pre code {
    border: 0;
    background: none;
    padding: 0;
  }

  @media (min-width: 768px) {
    .prose h2 {
      margin-top: calc(4.5rem - 2rem * 0.2 - 1rem * 0.3);
      margin-bottom: calc(1.25rem - 2rem * 0.2 - 1rem * 0.3);
      font-size: 2rem;
    }

    .prose h3 {
      margin-top: calc(3.5rem - 1.5rem * 0.2 - 1rem * 0.3);
      margin-bottom: calc(1.25rem - 1.5rem * 0.2 - 1rem * 0.3);
      font-size: 1.5rem;
    }
    .prose h3::before {
      margin-right: 0.5em;
    }

    .prose h4 {
      margin-top: calc(3rem - 1.25rem * 0.2 - 1rem * 0.3);
      margin-bottom: calc(1.25rem - 1.25rem * 0.2 - 1rem * 0.3);
      font-size: 1.25rem;
    }

    .prose h5 {
      margin-top: calc(2.5rem - 1.125rem * 0.2 - 1rem * 0.3);
      font-size: 1.125rem;
    }
  }
</style>
